*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
body{
    background-color: black;
    color: #ffffee;
}
.land{
    height: 100vh;
    background-image:url(sources/background.jpg);
    background-position: center;
	background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
	position: relative;
}
.navbar{
    display: flex;
    padding: 5vh 5vw;
    justify-content: space-around;
    align-items: center;
}
.navlogo img{
    width: 9vw;
}
.navlinks{
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks ul{
    margin-left: 25;
    display: inline;

}
.navlinks ul a{
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
}
.navlinks ul li{
    list-style: none;
	display: inline-block;
	padding: 8px 25px;
}
.navlinks ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: white;

	margin: auto;
	transition: .5s;
}
.navlinks ul li:hover::after{
	width: 100%;
}
.btn{
    padding: 10px 25px;
    background-color: #ffffff;
    color:black;
    cursor: pointer;
}
.banner{
	margin: 25vh 10vw;
	color: #ffffff;
}
.banner h1{
	font-size: 6ch;
	margin-bottom: 2vh; 
}
.banner h4{
    margin-bottom: 3vh;
    font-family: Arial;
    font-weight: lighter;
}
.banner h1 span{
	color: red;
}

.content{
    background:rgba(0, 0, 0, 1) ;
    padding: 2vh 4vw;
}
.intro{
    padding-top: 25vh;
}
.me{
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    font-size: large;
}
.me img{
    width: 60vw;
    height: auto;
    padding: 0px 10px;
}
.h{
    padding-bottom: 5vh;
    font-size: 4ch;
}
.set{
    border: #888888 solid 0.5px;
    border-radius: 10px;
    padding: 5vw;
}
.ith{
    font-size: 4ch;
    padding-bottom: 0px;
}
.p{
    padding-bottom: 5vh;
    font-size: 3ch;
}
.border{
    padding: 20vh 2vw;
}
.item{
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.item img{
    padding-left: 5vh;
    height: 55vh;
}
.end{
    background-color: #111;
    height: 50vh;
    display: flex;
    padding: 5vh 5vw;
    padding-top: 10vh;
    margin-top: 20vh;
}
.end ul a{
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
}
.end ul li{
    list-style: none;
	padding: 8px 25px;
}
.links{
    padding-left: 5vw;
    border-left: #888888 solid 2px;
    text-align: center;
}
.links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: white;
	display: block;
	margin: auto;
	transition: .5s;
}
.links ul li:hover::after{
	width: 100%;
    margin: auto;
}
.outro{
    padding-right: 5vw;
}
.outro img{
    padding-top: 5vh;
    height: 6vh;
}


@media screen and (max-width: 1100px) {
    .p{
        padding-bottom: 5vh;
        font-size: 2.5ch;
    }
    .banner{
        margin: 25vh 5vw;
    }
}
@media screen and (max-width: 1050px) {
    .item img{
        height: auto;
        width: 50vw;
    }
}
@media screen and (max-width: 900px) {
    .item{
        flex-direction: column-reverse;
        text-align: justify;
    }
    .item img{
        padding: 5vh 0;
    }
}
@media screen and (max-width: 800px) {
    .banner h1{
        font-size: 5.5ch; 
    }
    .me{
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size:medium;
    }
    .me img{
        width: 80vw;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 750px) {
    .item img{
        height: auto;
        width: 70vw;
        padding: 5vh 0;
    }
    .outro img{
        height: 4vh;
    }
}
@media screen and (max-width: 500px) {
    .item img{
        height: auto;
        width: 70vw;
        padding: 5vh 0;
    }
}