*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
body{
    background-color: black;
    color: #ffffee;
}
.land{
    height: 100vh;
    background-image:url(sources/background.jpg);
    background-position: center;
	background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
	position: relative;
}
.navbar{
    display: flex;
    padding: 5vh 5vw;
    justify-content: space-around;
    align-items: center;
}
.navlogo img{
    width: 9vw;
}
.navlinks{
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks ul{
    margin-left: 25;
    display: inline;

}
.navlinks ul a{
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
}
.navlinks ul li{
    list-style: none;
	display: inline-block;
	padding: 8px 25px;
}
.btn{
    padding: 10px 25px;
    background-color: #ffffff;
    color:black;
    cursor: pointer;
}
.banner{
	margin: 25vh 10vw;
	color: #ffffff;
}
.banner h1{
	font-size: 6ch;
	margin-bottom: 2vh; 
}
.banner h4{
    margin-bottom: 3vh;
    font-family: Arial;
    font-weight: lighter;
}
.banner h1 span{
	color: red;
}

.content{
    background:rgba(0, 0, 0, 1) ;
}